[Desktop Entry]
Name=Conky
Exec=/usr/bin/conky -c /home/snackk/git/config-files/conkyrc/conkyrc
Icon=tilda
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
Hidden=false
